.cards {
    background: #F5F5F5;
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}
mat-card{
    background:#141414;
    color:#F5F5F5;
    border-radius:0;
    text-align: center;
}
mat-grid-tile {
    background: lightblue;
}
mat-card-content{
    display:flex;
    flex-direction: column;
}
/* .mat-card:not([class*=mat-elevation-z]) {
    
} */
.added-truck{
    text-align:left;
}
.add-remove-buttons{
    text-align: right;
}
.mat-input-element{
  caret-color:white;
}
.mat-form-field{
    color:#F5F5F5;
}