.cards {
    background:#141414;
    width: 100%;
    height:100vh;
    margin: 0 auto;
    padding-top:50px;
}
.container{
    display:flex;
    flex-direction: column;
}
.main-form{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top:30px;
}
.add-trucks{
    width:35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.display-trucks{
    width:35%;
}

mat-card{   
    background:#141414;
    color:#F5F5F5;
    border-radius:0;
    text-align: center;
}
mat-grid-tile {
    background: lightblue;
}
mat-card-content{
    display:flex;
    flex-direction: column;
}
.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
.border{
    border:1px solid white;
}
mat-label{
    color:white;
}
mat-card-header{
    width: 100%;
    display: flex;
    justify-content: center;
}




.added-truck{
    text-align:left;
    border-bottom:1px solid white;
    margin-bottom:15px;
}
.add-remove-buttons{
    text-align: right;
}
.mat-input-element{
  caret-color:white;
}
.mat-form-field{
    color:#F5F5F5;
}
.mat-raised-button{
    margin:0 10px;
}
.modal-header{
    display: flex;
    justify-content: center;
}
.modal-title{
    font-size:24px;
    color:black;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.input-group>.form-control, .input-group>.form-select{
    width:100%;
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
    margin-left:0;
}
.update-btn{
    margin-top:20px;
}